
.branding {
    text-transform: uppercase;
    margin-bottom: 10px;
}

#mainNav {
    font-family: 'Open Sans', arial, sans-serif;
}

.branding .logo {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 0;
}

.branding .logo a {
    text-decoration: none;
    color: #3aa7aa;
    background-color: transparent;
}

.branding .icon {
    font-size: 24px;
    color: #40babd;
}

.branding .text-bold {
    font-weight: 800;
    color: #fff;
}

.branding .text-highlight {
    color: #40babd;
}