<div class="row">
    <div class="col-lg-12">
        <div class="thumbnail">
            <img class="img-responsive" folly-img="img" src="http://placehold.it/800x300?w=800&h=300" alt="">
            <div class="caption-full">
                <h4 folly-text="price" class="pull-right">$24.99</h4>
                <h4 folly-text="name">
                    Product Name
                </h4>
                <p folly-html="short-description">All fields are editable (try right-clicking).</p>
                <div folly-html="description">
                    <p>This is your own personal demo, run by 100% vanilla client-side Folly.</p>
                </div>
            </div>
        </div>
    </div>
</div>